<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>

</body>
<main>
    <div>
        <h1>{{ todo_list_list.name }}</h1>
        <div>
            <p>
                <a href="{% url 'edit_todo' todo_object.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'delete_todo' todo_object.id %}">Delete</a>
            </p>
        </div>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todo_object.items.all %}
                <tr>
                    <td>{{ todo.task }}</td>
                    <td>{{ todo.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

</html>
